NODE_ENV=development
PORT=8000

# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/hotel_db"

# Better-Auth
BETTER_AUTH_SECRET=your-super-secret-key-at-least-32-chars
BETTER_AUTH_URL=http://localhost:

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000