NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://neondb_owner:npg_FcgCJqr8hX9a@ep-odd-cherry-am61vyel-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


# Better-Auth
BETTER_AUTH_SECRET=your-super-secret-key-at-least-32-chars
BETTER_AUTH_URL=http://localhost:5000

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=dg6sochve
CLOUDINARY_API_KEY=338957544467195
CLOUDINARY_API_SECRET=usM11ejhElf_10dPj_zWG03MpWM

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000